@use '../abstracts' as *;

.btn {
    border: none;
    padding: $spacing-200 $spacing-400;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-100;
    @include text (1.125rem, 700, 1.8);
    cursor: pointer;
    
    &--ios {
        color: $white;
        background-color: $slate;
        transition: background-color 0.2s;

        &:hover {
            background-color: $cyan;
            color: $slate;
        }
    }

    &--android {
        color: $slate;
        background-color: $white;
        transition: background-color 0.2s;

        &:hover {
            background-color: $yellow;
        }
    }
}   