$cyan: #66e2dc;
$orange: #fa7453;
$yellow: #ffb964;
$white: #fcfaf9;
$slate: #191826;

$spacing-100: 0.5rem; //8px
$spacing-200: 1rem; //16px
$spacing-250: 1.25rem; //20px
$spacing-300: 1.5rem; //24px
$spacing-400: 2rem; //32px
$spacing-500: 2.5rem; //40px
$spacing-600: 3rem; //48px
$spacing-700: 3.5rem; //56px
$spacing-800: 4rem; //64px
$spacing-1000: 5rem; //80px
$spacing-1600: 8rem; //128px
$spacing-2500: 12.5rem; //200px